.env
build/
.benchmarks/
reports/
lectures/
node_modules/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
MANIFEST
*.manifest
*.spec
pip-log.txt
.coverage
.coverage.*
.cache
*.cover
.pytest_cache/
*.mo
*.pot
*.log
local_settings.py
instance/
docs/build/
target/
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/site
.mypy_cache/
.mypy_cache*
*.isorted
.vscode
*.code-workspace
.history
SCRATCH.md
.DS_Store
