<section class="sticky top-full mb-5 max-h-96 max-w-screen-sm px-10 w-full mx-auto">
    <form id="message-form" class="w-full">
        <textarea
            id="message-input"
            class="w-full h-[3.25rem] py-[0.925rem] pl-3.5 caret-[#b6b5bf] rounded-[1.2rem] backdrop-blur-md text-[#e3e2ed] border-[#515152] border-[0.5px] shadow shadow-xl shadow-black/25 outline-none ring-0 font-light resize-none bg-[#171717c0] focus:bg-[#1e1e1ec0] transition-colors"
        ></textarea>
        <button type="submit" class="hidden">Send</button>
    </form>
</section>
