<aside class="flex flex-col w-5/12">
    <section class="flex flex-col gap-4">
        {% for result in results %}
        <a href="{{ result.url }}">
            <div
                class="flex flex-col gap-1 bg-zinc-500/5 border stroke-black stroke-1 border-zinc-500/20 rounded-2xl py-2 px-3  shadow-md hover:shadow-lg transition-all ease-linear">
                <h2 id="title" class="text-sm font-medium text-sky-300/80">
                    {{ result.title }}
                </h2>
                <p id="description" class="text-md text-sm">
                    {{ result.description }}
                </p>
                <span class="text-xs font-medium text-zinc-400/50">
                    {{ result.url }}
                </span>
            </div>
        </a>
        {% endfor %}
    </section>
</aside>