<section class="flex flex-col w-7/12">
    <div class="flex flex-col gap-4">
        <p>
            Steve Jobs, co-founder of Apple Inc., was an iconic figure in the technology and business world, known for
            his
            groundbreaking contributions and visionary approach. Born on February 24, 1955, Jobs grew up in California
            and
            showed an early interest in electronics and computing.
        </p>
        <p>
            In 1976, alongside Steve Wozniak and Ronald Wayne, Jobs founded Apple in his parents' garage. They
            introduced
            the Apple I, a groundbreaking personal computer. Their next model, the Apple II, became a massive success,
            kickstarting the personal computing revolution.
        </p>
        <p>
            Jobs' tenure at Apple was marked by his focus on design and innovation, leading to products like the
            Macintosh,
            which introduced graphical user interfaces to a wider audience. However, in 1985, after a power struggle,
            Jobs
            left Apple and founded NeXT, a company specializing in high-end computers. {% include
            'sourcelink.html' %} During this period, he also
            bought
            The Graphics Group, later renamed Pixar, which became a major animation studio.
        </p>
        <p>
            In 1996, Apple, then struggling, acquired NeXT, and Jobs returned to the company. {% include
            'sourcelink.html' %} He spearheaded a historic
            turnaround, introducing products like the iMac, iPod, iPhone, and iPad, which reshaped technology and
            culture.
            His leadership style, though often described as demanding and meticulous, was also credited for Apple's
            innovation and design ethos.
        </p>
        <p>
            Jobs passed away on October 5, 2011, after a battle with pancreatic cancer, leaving behind a legacy as a
            visionary and a pioneer in the tech industry. His story, from founding Apple in a garage to becoming a
            figurehead of modern technology, continues to inspire entrepreneurs and innovators worldwide.
        </p>
    </div>
    <div class="inline-flex flex-row gap-3 flex-wrap mt-6">
        {% include 'source.html' %}
        {% include 'source.html' %}
        {% include 'source.html' %}
    </div>
</section>