<!doctype html>
<html class="bg-[#171717] text-[#e3e2ed] font-sans" lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            let socket

            function connectWebSocket() {
                socket = new WebSocket("ws://localhost:8000/ws")

                socket.onmessage = function (event) {
                    const message = JSON.parse(event.data)
                    addMessageToUI(message)
                }

                socket.onclose = function (event) {
                    console.log("WebSocket closed. Reconnecting...")
                    setTimeout(connectWebSocket, 1000)
                }
            }

            function addMessageToUI(message) {
                const messageList = document.getElementById("message-list")
                const li = document.createElement("li")
                li.className = "mb-4"
                li.innerHTML = `
                    <div class="flex flex-col">
                        <p class="font-bold text-xs">${message.role}</p>
                        ${message.blocks
                            .map(
                                (block) => `
                            <p class="text-sm pb-4">${block.data}</p>
                        `
                            )
                            .join("")}
                    </div>
                `
                messageList.appendChild(li)
                messageList.scrollTop = messageList.scrollHeight
            }

            function sendMessage() {
                const input = document.getElementById("message-input")
                const message = input.value.trim()
                if (message) {
                    const messageObj = {
                        role: "user",
                        blocks: [{ type: "text", data: message }],
                    }
                    addMessageToUI(messageObj)
                    socket.send(JSON.stringify(messageObj))
                    input.value = ""
                }
            }

            document.addEventListener("DOMContentLoaded", (event) => {
                connectWebSocket()

                const messageInput = document.getElementById("message-input")
                const messageForm = document.getElementById("message-form")

                messageInput.addEventListener("keydown", function (e) {
                    if (e.key === "Enter" && (e.metaKey || e.ctrlKey)) {
                        e.preventDefault()
                        sendMessage()
                    }
                })

                messageForm.addEventListener("submit", function (e) {
                    e.preventDefault()
                    sendMessage()
                })
            })
        </script>
    </head>
    <body class="max-h-screen max-w-screen w-full h-full min-h-screen min-w-screen">
        <section class="flex flex-row justify-between">
            <div class="flex flex-col max-w-screen-md w-[20%] h-full"></div>
            <div class="flex flex-col max-w-screen-md w-[50%] h-full"></div>
            <div class="flex flex-col max-w-screen-md w-[30%] h-full">
                {% include "messages.html" %}
            </div>
        </section>
        {% include "input.html" %}
    </body>
</html>
